/* all header specifications */
h1{
  text-align:center;
  font-family: sans-serif;
}

h2{
  text-align:center;
  font-family:sans-serif;
}

h3{
  text-align:center;
  font-family:sans-serif;
}

h4{
  text-align:center;
  font-family:sans-serif;
  margin:0;
}
/* all main text specifications */
p{
  font: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  text-align:center;
}

ul{
  font: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px
}

ol{
  font: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px
}

body{
  background-color:lightgrey;
}

article{
  font: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px
}
/* I will be revisitng many of these scripts to enhance the visual display of the website at a later date */
footer{
  background-color:grey;
  height:100%;
  margin:0;
  padding:0;
}

a:link{
  color:blue;
}
a:visited{
  color:red;
}
a:hover{
  color:yellow;
}
a:active{
  color:green;
}
